
<%- include('header') %>

<form action="/receber" method="GET">

    <input type="" name="conta" placeholder="Valor da Conta"> <br> <br>
    <input type="" name="gorgeta" placeholder="Porcentagem Gorjeta"> <br> <br>
    <button class="btn btn-primary">Calcular Valores</button>


</form>



<%- include('footer') %>